<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> IP Change</title>
</head>
<body>

<h2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FWS101AI IP주소 입력</h2>

<form action="/method" method="POST">
    &emsp;&emsp;<label for="fname">모델&nbsp;&nbsp;&emsp;&emsp;&emsp;IP(PTZ or 3204)&emsp;&emsp;&emsp;&emsp;&emsp;ID(PTZ or 3204)&emsp;&emsp;PASSWORD(PTZ or 3204)&emsp;&emsp;&emsp;&emsp;3170 IP&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3170 ID&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3170 PASSWORD</label><br><br>
        {% for i in range(32) %}
            <select name=mk_{{i}} id="mk1name" >
                    {% if mylist[i][6] == "0" %}
                    <option value="0"> PTZ</option>
                    <option value="1"> FW3204</option>
                    <option value=""> None</option>
                    {% elif mylist[i][6] == "1" %}
                    <option value="1"> FW3204</option>
                    <option value="0"> PTZ</option>
                    <option value=""> None</option>
                    {% else %}
                    <option value=""> None</option>
                    <option value="0"> PTZ</option>
                    <option value="1"> FW3204</option>
                    {% endif %}
              </select>
            &emsp;<input type="text" style="width:150px;" id="name" name=ip_{{i}} value={{mylist[i][0]}}>
            &emsp;&emsp;&emsp;&emsp;<input type="text" style="width:100px;" id="l1name" name=id_{{i}} value={{mylist[i][1]}}>
            &emsp;&emsp;&emsp;&emsp;<input type="password" style="width:100px;" id="P1name" name=pwd_{{i}} value={{mylist[i][2]}}>
            &emsp;&emsp;&emsp;&emsp;<input type="text" style="width:100px;" id="2name" name=ip_3170_{{i}} value={{mylist[i][3]}}>
            &emsp;&emsp;&emsp;&emsp;<input type="text" style="width:100px;" id="l2name" name=id_3170_{{i}} value={{mylist[i][4]}}>
            &emsp;&emsp;&emsp;&emsp;<input type="password" style="width:100px;" id="P2name" name=pwd_3170_{{i}} value={{mylist[i][5]}}>
            &emsp;&emsp;&emsp;
                <br/>
        {% endfor %}
    &emsp;&emsp;&emsp;&emsp;<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="        저장        ">
</form>
<form action="/method3" method="POST">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="     로그 확인    ">
    &nbsp;
    </form>
<form action="/method4" method="POST">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value=" AI Box IP변경 ">
    &nbsp;
    </form>

</body>
</html>