<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> IP Change</title>
</head>
<body>

<h2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FWS101AI IP주소 입력</h2>

<form action="/method" method="POST">
    &emsp;<label for="fname">모델&nbsp;&nbsp;&nbsp;&emsp;|&emsp;IP(회전 or 고정)&emsp;&emsp;&emsp;&emsp;&emsp;|&emsp;ID(회전 or 고정)&emsp;|&emsp;PASSWORD(회전 or 고정)&emsp;|&emsp;&emsp;비디오서버 IP&emsp;&emsp;|&emsp;&emsp;비디오서버 ID&emsp;&emsp;&emsp;|&emsp;비디오서버 PASSWORD&emsp;|</label><br><br>

        {% for i in range(64) %}
            <select name=mk_{{i}} id="mk1name" >
                    {% if mylist[i].maker == "0" %}
                    <option value="0"> 회전형-T</option>
                    <option value="1"> 고정형-T</option>
                    <option value="2"> 고정형-S</option>
                    <option value=""> None</option>
                    {% elif mylist[i].maker == "1" %}
                    <option value="1"> 고정형-T</option>
                    <option value="0"> 회전형-T</option>
                    <option value="2"> 고정형-S</option>
                    <option value=""> None</option>
                    {% elif mylist[i].maker == "2" %}
                    <option value="2"> 고정형-S</option>
                    <option value="1"> 고정형-T</option>
                    <option value="0"> 회전형-T</option>
                    <option value=""> None</option>
                    {% else %}
                    <option value=""> None</option>
                    <option value="0"> 회전형-T</option>
                    <option value="1"> 고정형-T</option>
                    <option value="2"> 고정형-S</option>
                    {% endif %}
              </select>
            |&emsp;<input type="text" style="width:150px;" id="name" name=ip_{{i}} value={{mylist[i].ip}}>
            &emsp;&emsp;|&emsp;<input type="text" style="width:100px;" id="l1name" name=id_{{i}} value={{mylist[i].id}}>
            &emsp;|&emsp;&emsp;&emsp;<input type="password" style="width:100px;" id="P1name" name=pw_{{i}} value={{mylist[i].pw}}>
            &emsp;&emsp;&emsp;|&emsp;<input type="text" style="width:100px;" id="2name" name=server_ip_{{i}} value={{mylist[i].v_ip}}>
            &emsp;&emsp;|&emsp;&emsp;<input type="text" style="width:100px;" id="l2name" name=server_id_{{i}} value={{mylist[i].v_id}}>
            &emsp;&emsp;|&emsp;&emsp;<input type="password" style="width:100px;" id="P2name" name=server_pw_{{i}} value={{mylist[i].v_pw}}>
            &emsp;&emsp;&emsp;|
                <br/>
        {% endfor %}
    &emsp;&emsp;&emsp;&emsp;<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="        저장        ">
</form>
<form action="/method3" method="POST">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="     로그 확인    ">
    &nbsp;
    </form>
<form action="/method4" method="POST">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value=" AI Box IP변경 ">
    &nbsp;
    </form>

</body>
</html>