<!DOCTYPE html>
<html>
<body>

<h1>&emsp; &nbsp;&emsp;Ip Change</h1>
<form action="/method5" method="POST">
Address&nbsp;&nbsp;&emsp;<input type="text" style="width:150px;"id="Add" name="Add" value={{CH[0]}}><br>
Netmask&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width:150px;"id="Net" name="Net" value={{CH[1]}}><br>
Gateway&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width:150px;"id="Gat" name="Gat" value={{CH[2]}}><br>
Broadcast&nbsp;&nbsp;&nbsp;<input type="text" style="width:150px;"id="Bro" name="Bro" value={{CH[3]}}><br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value=" 변경 ">
</form>
<form action="/" method="GET">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value=" 이전 ">
</form>
</body>
</html>